body {
  font-family: 'Ubuntu' sans-serif;
  background: #05296E;
}

.content {
  background: #6B8FD4;
  font-size: 40pt;
  font-weight: bold;
  text-align:center;
  color:#cccccc;
  width: 960px;
  margin: auto;
}

.info {
  
  background: #6B8FD4;
  font-size: 12pt;
  font-weight: bold;
  color:#cccccc;
  text-align:center;
  min-height: 100px;
  margin: 0;
  float: center;
  
}

.logos {
  
  background: #6B8FD4;
  min-height: 250px;
  margin: 0;
  float: center;
  
}

.right_side p {
  text-align: center;
}

