body {
  font-family: 'Ubuntu' sans-serif;
  background: #05296E;
  margin-top:150px;
  margin-bottom:125px;
  margin-right:50px;
  margin-left:50px;
}

.content {
  background: #6B8FD4;
  font-size: 25pt;
  font-weight: bold;
  text-align:center;
  color:#cccccc;
  width: 760px;
  min-height: 100px;

  margin: auto;
}

.info {
  
  background: #6B8FD4;
  font-size: 12pt;
  font-weight: bold;
  color:#cccccc;
  text-align:center;
  min-height: 10px;
  margin: 0;
  float: center;
  
}

.logos {
  
  background: #6B8FD4;
  min-height: 100px;
  margin: 0;
  float: center;
  
}

.right_side p {
  text-align: center;
}

